<!DOCTYPE html>                       
<html>
<head>                                   
  <title>Mixdo</title>              
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>   
                       
<body>            
                  
<div class="navbar">
  <div>
    <img src="https://i.imgur.com/LYP0218.png" alt="">
  </div>
</div>
